body {
		background-color: #333333;
		color: black;
		font-family:     KacstPoster, Andalus ,  Koufiya LT , 'Courier New'  , KacstDigital ,Amiri Quran , KacstPen
		,Arial ;

}
#page {
		width: 850px;
		margin: 0px auto 0px auto;
		
   



		}


#logo { position: relative;
		top: 0px;
		left: 0px
		width: 150px;
		height : 150px;
		margin-left: 12px;
		margin-top: 12px;
	 }
#logo1 { width: 150px; }

#fig {  background-color: #00BE9B ;
		color:black;
		font-size: 30px;
		font-weight: bold;
		position: relative;
		left: 13px;
		width: 150px;
		text-align: center;
		border-radius: 27px;
		border: 3px solid black;
	}
#fig:hover {
	color:#00BE9B;
	background-color: black;
}
a { text-decoration: none; }
#abo {
	width: 230px;
	position: relative;
		left:600px;
		top:-160px;
	padding: 0px;


}
#about {
		
	
		border: 2px solid #111111;
		font-size: 40px;
		text-align: center;
		border-radius: 23px;
		
		background-color: #00BE9B;
		color: black;
		text-decoration: none;
		margin-bottom: 12px;
		padding-top:15px;
		padding-bottom:15px
		
		
}


#about:hover {
		color:#00BE9B;
		background: black;
		font-weight: bold;
}
#menu {
     margin: 0px auto 0px auto;
 	text-align: center;
	padding-bottom: 30px;
	border-bottom: 1px solid white;
 }
.submenu { display: inline ;
	 margin: 4px 12px 4px 12px;
	 padding : 0px 0px 0px 0px;
	 height: 100px;
	 color: black;

	 }


 .submenu a {
 	 padding : 12px 25px 12px 25px;
 	 border : 2px solid black;
	 border-radius: 23px;
	 color: black;
	 background-color: #00BE9B;
	 font-weight: bold;
	 font-size: 25px;
	}


.submenu a:hover { background-color:black;
          color: #00BE9B;
          font-weight : bold;  }
 #need a { background-color:black;
           color: #00BE9B;
           font-weight : bold;

 }
 .title {
   color: deeppink;
   margin: 12px auto 12px auto;
 }


#introduction {
	width: 400px;
	margin: 100px auto 200px auto;
	border: 2px solid #4fd0ff;
	text-align: center;
	color:white;
	border-radius: 23px;

}
#introduction:hover {border:2px solid deeppink;}
.par {
	font-family: Koufiya LT ,KacstQurn , Arial;
	 font-size: 23px;
	 text-align:center;
	 margin: 30px auto 30px auto;
	 max-width:300px;
}

#article{
  margin : 50px auto 50px auto;
  width: 850px;
  padding-bottom: 70px;
  border-top:1px solid white;
  border-bottom: 1px solid white;
}
#matiere {
  border:2px solid #4fd0ff;
  border-radius: 23px;
  text-align: center;
  width: 500px;
  color:white;
  margin : 50px auto 50px auto;
  font-family: Koufiya LT ,KacstQurn , Arial;
  font-size: 23px;
  padding-left:8px;
  padding-right: 8px;
}

#matiere:hover{
  border-color:deeppink;
}
.article1 {   border:2px solid #4fd0ff;
  border-radius: 23px;
  text-align: right;
  width: 850px;
  color:white;
  margin : 10px auto 50px auto;
  font-size: 23px;
  font-family: Koufiya LT ,KacstQurn , Arial;
  padding-left:8px;
  padding-right: 19px;}

  
  .article1:hover{
    border: 2px solid deeppink;
  }
 .begin:first-letter
 {
 	margin-right:30px;}

 .mintitle { color:#00BE9B;

 }
#foot { margin-left: auto;
			margin-right: auto;
			position: relative;
			top: 500px;

				height: 350px;
				width: 800px;
				
}
#topm {
	width:200px;
	font-size: 30px;
	margin:10px auto 40px auto;
	border : 2px solid black;
	border-radius: 23px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: black;
	background-color: #00BE9B;
	text-align: center;
}
#topm:hover {background-color:black;
          color: #00BE9B;
          font-weight : bold;




}
#right {
	color: white;
	width: 300px;
 	margin:200px auto 10px auto;

	text-align: center;
	font-size: 18px;

	text-transform: capitalize;

}
#right:hover {
	text-decoration: underline;
	color: deeppink;
	border-bottom: 2px soid deeppink;

}
.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}